$branches: 10;
$leaves: 20;

body {
  font-family: sans-serif;
}
.tree {
  position: absolute; 
  left: 50%;
  bottom: 0;
  mix-blend-mode: darken;
  &, * {
    backface-visibility: hidden;
  }
  
  .trunk {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 0;
    background: brown;
    transition: height 10s;
    :hover & {
      height: 90vh;
    }
    &:before,
    &:after {
      content: '';
      background: white;
      height: 200%;
      width: 100%;
      position: absolute;
      bottom: 0;
      border-radius: 100%;
    }
    &:before {
      left: 55%;
    }
     &:after {
      right: 55%;
    }
    
    .branch {
      position: absolute;
      z-index: 2;
      bottom: 0;
      left: 50%;
      width: 10px;
      background: brown;
      mix-blend-mode: darken; 
      height: 0;
      transition: transform 2s;
      &:nth-child(odd) {
        transform-origin: 50% 100%;
        transform: translateX(-50%) rotate(-20deg) scale(0);
      }
      &:nth-child(even) {
        transform-origin: 50% 100%;
        transform: translateX(-50%) rotate(20deg) scale(0);
      }
      @for $i from 0 to $branches {
        &:nth-child(#{$i + 1}) {
          bottom: ($branches - $i) * 100%/$branches;
          width: $i * 4px;
          transition-delay: ($branches - $i) * 1s;
          height: $i * 3%;
          
          :hover & {
            &:nth-child(odd) {
              transform: translateX(-50%) rotate(-70deg) scale(1);
            }
            &:nth-child(even) {
              transform: translateX(-50%) rotate(70deg) scale(1);
            }
          }
          
          @for $j from 0 to ($leaves - ($branches - $i)*2) {
            .leaf:nth-child(#{$j + 1}) {
              bottom: ($leaves - $j) * 4% + 3;
              transition-delay:  $j*($branches - $i) * 0.5s;

              :hover & {
                transform: scale(1);
                &:nth-child(odd) {
                  transform: translateX(-50%) rotate(-170deg) scale(1);
                }
                &:nth-child(even) {
                  transform: translateX(-50%) rotate(70deg) scale(1);
                }

              }
            }
          }
      
        }
      }
      &:before,
      &:after {
        content: '';
        background: white;
        height: 200%;
        width: 100%;
        position: absolute;
        z-index: 0;
        bottom: 0;
        border-radius: 100%;
        mix-blend-mode: luminosity;
      }
      &:before {
        left: 55%;
      }
       &:after {
        right: 55%;
      }
    }
  
    .leaf {
      position: absolute;
      z-index: 9;
      left: 50%;
      height: 20px;
      width: 20px;
      transform: scale(0);
      background: green;
      border-radius: 100% 0;
      transition: transform 1s;
      &:nth-child(odd) {
        transform-origin: 50% 0%;
        transform: translateX(-50%) rotate(-10deg) scale(0);
      }
      &:nth-child(even) {
        transform-origin: 50% 0%;
        transform: translateX(-50%) rotate(10deg) scale(0);
      }
    }
  }
}